@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-image: url("../Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0;
}

#window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
  height: 200px;
  padding: 10px;
  transition: 0.3s;
  background-color: #eff8ffaf;
  border-radius: 15px;
  box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
}

#titlebar {
  display: none;
  justify-content: center;
  align-items: center;
  color: black;
}

#titlebar p {
  flex-wrap: wrap;
  margin: 0;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 80%;
  border-radius: 15px;
  background-color: #eff8ff;
  box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
}

.bigBtn {
  font-size: 25px;
  border-radius: 50px;
  width: 60%;
  height: 70px;
  transition: 0.3s;
}

#container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  background-color: #eff8ff98;
  border-radius: 15px;
  box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
}

.upper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#round-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 35px;
  border-radius: 14px;
  box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
}

#score-container {
  display: flex;
  justify-content: space-between;
}

#score-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  border-radius: 14px;
  padding: 8px;
  box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
}

#score-container > h1, h3 {
  margin: 0;
}

.center {
  width: 100%;
}

.showChoice {
  display: flex;
  justify-content: space-around;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 15px;
  background-color: #eff8ff85;
}

#buttons .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 70px;
  width: 70px;
  border-radius: 14px;
  border: 0;
  background-color: #d9f0fd;
  transition: 0.1s;
  box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.4);
}

#buttons .btn:hover {
  background-color: #eff8ff;
  transform: scale(1.05);
}

.fa-solid {
  font-size: 35px;
  color:  #31d9e6;
}
